.contenedor{
    width: 781px;
    height: 232px;
    border: 2px solid #172617;
    left: 250px;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    top: 150px;
}
p{
    font-size: 36px;
}

.uno{
    position: absolute;
    background-color: #172916;
    color: white;
    border: 2px solid #172916;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    border-radius: 10px;
    padding: 10px;
    left: 250px;
    top: 454px;
    width: 300px;
}
.uno:hover{
    background-color: white;
    color: black;
}
.dos{
    position: absolute;
    background-color: #172916;
    color: white;
    border: 2px solid #172916;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    border-radius: 10px;
    padding: 10px;
    left: 750px;
    top: 454px;
    width: 300px;
}
.dos:hover{
    background-color: white;
    color: black;
}