*{
    text-align: center;
}
h2{
    font-size: 36px;
}
p{
    font-size: 36px;
}
.uno{
    position: absolute;
    background-color: #172916;
    color: white;
    border: 2px solid #172916;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    left: 150px;
    top: 312px;
}
.uno:hover{
    background-color: white;
    color: black;
}
.dos{
    position: absolute;
    background-color: #172916;
    color: white;
    border: 2px solid #172916;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    top:312px;
    left: 750px;
}
.dos:hover{
    background-color: white;
    color: black;
}